@charset "UTF-8";
button {
  position: relative;
  overflow: hidden;
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to top, #9356dc, #ff79da);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease;
}
button.secondary {
  /*boutton des pages menu (ERREUR) */
  width: 186px;
}
button::before {
  content: "";
  position: absolute;
  inset: 0; /* prend toute la surface du bouton */
  background: rgba(255, 255, 255, 0.15);
  opacity: 0;
  transition: opacity 0.3s ease;
}
button:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
}
button:hover::before {
  opacity: 1;
}

section {
  margin: 20px;
}
section.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  margin: 0;
}
section.footer .title-footer {
  font-size: 18px;
  color: white;
  font-family: "Shrikhand", serif;
  margin: 25px 0 0 25px;
  font-weight: 400;
}
section.footer i {
  height: 13px;
  width: 12px;
}
section.footer i.fa-utensils {
  display: inline-block;
  transform: scaleX(0.9);
}
section.footer i.fa-handshake-angle {
  display: inline-block;
  transform: scaleX(0.6);
}
section.footer ul {
  padding-left: 25px;
}
section.footer li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: white;
  margin: 0;
  padding: 0;
}
section.footer a {
  text-decoration: none;
  color: white;
  margin: 5px 0;
  padding: 0;
}
section.footer .space,
section.footer .weight {
  font-weight: 500;
}

@media (min-width: 1024px) {
  section.footer {
    height: 114px;
    flex-direction: row;
    align-items: end;
    justify-content: flex-end;
    margin: 0;
  }
  section.footer ul {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  section.footer .title-footer {
    margin: 0 50px 25px 70px;
    order: 2;
  }
  section.footer li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 0;
    order: 1;
  }
  section.footer i {
    margin-bottom: 10px;
  }
  section.footer a {
    margin-bottom: 5px;
    padding-right: 5px;
  }
  section.footer .space {
    margin-right: 30px;
  }
}
header .logo {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
  padding: 5px 0 0 0;
  gap: 30px;
}
header .logo .back-arrow {
  position: absolute;
  align-self: center;
  left: 20px;
  font-size: 20px;
  color: #353535;
}
header img {
  width: 162px;
  padding: 15px 0;
  margin-top: 0;
}
header > img {
  width: 100%;
  height: 275px;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1024px) {
  header div > img {
    width: 200px;
    padding: 0;
  }
  header .logo {
    padding: 30px 0 30px 0;
    box-shadow: none;
  }
  header > img {
    height: 383px;
    -o-object-position: center 60%;
       object-position: center 60%;
  }
}
body {
  margin: 0;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

main {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 30px 13px 0 13px;
  margin-top: -60px;
  position: relative;
}
main .title {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  gap: 30px;
  width: 349px;
}
main .title h1 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}
main .alone {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

/* Animation coeur */
.fa-heart {
  font-size: 24px;
}

.fa-solid.fa-heart {
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.heart-checkbox {
  display: none;
}

.heart-label {
  position: absolute;
  cursor: pointer;
  right: 20px;
}
.heart-label .fa-regular {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.heart-label .fa-solid {
  position: absolute;
  left: 0; /* aligne le coeur plein avec le coeur vide */
  opacity: 0; /* coeur plein invisible */
  transform: scale(0); /* taille 0 */
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* grandit en 0.3s */
}

.heart-checkbox:checked + .heart-label .fa-regular {
  opacity: 0;
}
.heart-checkbox:checked + .heart-label .fa-solid {
  opacity: 1; /* redeviens visible */
  transform: scale(1); /* reprend sa taille normal */
}

/* Fin animation coeur */
section.menu {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 12px;
  width: 349px;
}
section.menu h2 {
  display: flex;
  align-self: start;
  font-weight: 300;
  font-size: 16px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  padding-bottom: 5px;
  margin: 30px 0 0 0;
}
section.menu article {
  position: relative;
  background-color: white;
  border-radius: 15px;
  width: 349px;
  height: 69px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
section.menu article h3,
section.menu article p {
  width: 280px;
  margin: 0;
  margin-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.menu article h3 {
  font-size: 18px;
  font-weight: 500;
}
section.menu article p {
  font-size: 15px;
  font-weight: 300;
  transition: width 0.4s ease;
}
section.menu article p span {
  position: absolute;
  right: 10px;
  font-weight: 700;
  color: #353535;
  transition: right 0.4s ease;
}

/* Animation Loader Menu */
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu h2,
.menu article {
  opacity: 0;
  animation: appear 0.6s ease forwards;
}

.menu h2 {
  animation-delay: 0.2s;
}

.menu article:nth-of-type(1) {
  animation-delay: 0.4s;
}

.menu article:nth-of-type(2) {
  animation-delay: 0.6s;
}

.menu article:nth-of-type(3) {
  animation-delay: 0.8s;
}

.menu article:nth-of-type(4) {
  animation-delay: 1s;
}

/* Fin Animation Loader Menu */
/* Animation sélecteur de plat */
.plat-checkbox {
  display: none;
}

.check {
  position: absolute;
  inset: 0;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
}

.check-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 59px;
  height: 69px;
  background-color: #99e2d0;
  transform: translateX(100%);
  transition: transform 0.4s ease;
}

.plat-checkbox:checked + .check .check-background {
  transform: translateX(0);
}

.check-button {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  transform: translateY(-50%);
}

.check-button i {
  color: #99e2d0;
}

.plat-checkbox:checked ~ p span {
  right: 90px;
}

.plat-checkbox:checked ~ p {
  width: 200px;
}

/* Fin Animation sélecteur de plat */
@media (min-width: 1024px) {
  body {
    background-color: white;
  }
  main {
    width: 1055px;
    display: block;
    justify-self: center;
    padding: 30px 0px 0 0px;
  }
  main .title {
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
  }
  .heart-label {
    position: relative;
  }
  section.menu {
    width: 634px;
  }
  section.menu h2 {
    margin: 40px 0 0 0;
  }
  section.menu article {
    width: 634px;
  }
  .plat-checkbox:checked ~ p {
    width: 500px;
  }
}/*# sourceMappingURL=menu.css.map */