body {
  margin: 0;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
}

/* Animation Loader */
.loader {
  position: fixed;
  inset: 0;
  background-color: #f6f6f6;
  z-index: 1000;
  animation: loader-disappear 0.5s ease 2s forwards;
}

@keyframes loader-disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-text {
  display: flex;
  font-family: "Shrikhand", serif;
  font-size: 40px;
  background: linear-gradient(to top, #9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding: 70px 10px;
}
.loader-text span {
  position: relative;
  animation: loader-wave 1.5s ease-in-out infinite;
}
.loader-text .letter-2 {
  animation-delay: 0.1s;
}
.loader-text .letter-3 {
  animation-delay: 0.2s;
}
.loader-text .letter-4 {
  animation-delay: 0.3s;
}
.loader-text .letter-5 {
  animation-delay: 0.4s;
}
.loader-text .letter-6 {
  animation-delay: 0.5s;
}
.loader-text .letter-7 {
  animation-delay: 0.6s;
}
.loader-text .letter-8 {
  animation-delay: 0.7s;
}

@keyframes loader-wave {
  0% {
    top: 0;
  }
  50% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}
/* Fin d'animation Loader */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header img {
  width: 162px;
  padding: 0;
  margin-top: 0;
}
header div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #353535;
  font-weight: 500;
}

.logo {
  background-color: white;
  padding: 15px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.location {
  background-color: #eaeaea;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

section {
  margin: 20px;
}
section.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  gap: 10px;
}
section.container p {
  font-weight: 300;
  margin: 5px 0 20px 0;
  font-size: 18px;
  width: 315px;
}
section.container h1 {
  margin: 0;
  margin-top: 20px;
  font-size: 24px;
  width: 275px;
  font-weight: 700;
}
section.container button {
  position: relative;
  overflow: hidden;
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to top, #9356dc, #ff79da);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease;
}
section.container button.secondary {
  width: 186px;
}
section.container button::before {
  content: "";
  position: absolute;
  inset: 0; /* prend toute la surface du bouton */
  background: rgba(255, 255, 255, 0.15);
  opacity: 0;
  transition: opacity 0.3s ease;
}
section.container button:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
}
section.container button:hover::before {
  opacity: 1;
}
section.fonctionnement {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  padding-bottom: 50px;
}
section.fonctionnement .number {
  position: absolute;
  left: -12px;
  background-color: #9356dc;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.fonctionnement i {
  color: #7e7e7e;
}
section.fonctionnement i.fa-store {
  color: #9356dc;
}
section.fonctionnement ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
section.fonctionnement li {
  position: relative;
  list-style: none;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  padding: 10px 50px 10px 30px;
  gap: 30px;
  font-weight: 500;
}
section.restaurant h2 {
  padding-top: 40px;
}
section.restaurant article {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  width: 340px;
  height: 251px;
  border-radius: 15px;
  overflow: hidden;
  gap: 0px;
  margin-bottom: 10px;
  background-color: white;
}
section.restaurant article .new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  color: #008766;
  padding: 7px 12px;
  font-weight: 500;
  border-radius: 2px;
}
section.restaurant article img {
  grid-column: 1/-1;
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 61%;
     object-position: center 61%;
}
section.restaurant article h3 {
  grid-column: 1;
  padding: 0;
  padding-top: 10px;
  margin: 0 0 0 10px;
}
section.restaurant article p {
  grid-column: 1;
  padding: 0;
  padding-bottom: 10px;
  margin: 0 0 0 10px;
}
section.restaurant article i {
  grid-column: 2;
  grid-row: 2;
  margin-right: 10px;
}
section.restaurant article .fa-heart {
  font-size: 24px;
  margin: 0;
}
section.restaurant article .fa-solid.fa-heart {
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
section.restaurant article .heart-checkbox {
  display: none;
}
section.restaurant article .heart-label {
  position: absolute;
  cursor: pointer;
  right: 20px;
  bottom: 25px;
}
section.restaurant article .heart-label .fa-regular {
  opacity: 1;
  transition: opacity 0.3s ease;
}
section.restaurant article .heart-label .fa-solid {
  position: absolute;
  left: 0; /* aligne le coeur plein avec le coeur vide */
  opacity: 0; /* coeur plein invisible */
  transform: scale(0); /* taille 0 */
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* grandit en 0.3s */
}
section.restaurant article .heart-checkbox:checked + .heart-label .fa-regular {
  opacity: 0;
}
section.restaurant article .heart-checkbox:checked + .heart-label .fa-solid {
  opacity: 1; /* redeviens visible */
  transform: scale(1); /* reprend sa taille normal */
}
section.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  margin: 0;
  margin-top: 70px;
}
section.footer .title-footer {
  font-size: 18px;
  color: white;
  font-family: "Shrikhand", serif;
  margin: 25px 0 0 25px;
  font-weight: 400;
}
section.footer i {
  height: 13px;
  width: 12px;
}
section.footer i.fa-utensils {
  display: inline-block;
  transform: scaleX(0.9);
}
section.footer i.fa-handshake-angle {
  display: inline-block;
  transform: scaleX(0.6);
}
section.footer ul {
  padding-left: 25px;
}
section.footer li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: white;
  margin: 0;
  padding: 0;
}
section.footer p {
  margin: 5px 0;
  padding: 0;
}

@media (min-width: 1024px) {
  header img {
    width: 200px;
    padding: 0;
    margin-top: 0;
  }
  .location {
    background-color: #eaeaea;
    height: 50px;
    box-shadow: none;
  }
  .logo {
    background-color: white;
    padding: 30px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  }
  section.container p {
    margin: 20px 0 20px 0;
    width: auto;
  }
  section.container h1 {
    width: auto;
    font-size: 40px;
  }
  section.fonctionnement {
    background-color: white;
    margin: auto;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  section.fonctionnement h2,
  section.fonctionnement ul {
    width: 100%;
    max-width: 1053px;
  }
  section.fonctionnement ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }
  section.fonctionnement li {
    position: relative;
    list-style: none;
    width: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #f6f6f6;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    padding: 10px 70px 10px 35px;
    gap: 30px;
    font-weight: 500;
  }
  section.restaurant {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  section.restaurant h2,
  section.restaurant div {
    width: 100%;
    max-width: 1080px;
  }
  section .restaurant-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 60px;
  }
  section .restaurant-container article {
    width: 490px;
  }
  section.footer {
    height: 114px;
    flex-direction: row;
    align-items: end;
    justify-content: flex-end;
    margin: 0;
    margin-top: 70px;
  }
  section.footer ul {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  section.footer .title-footer {
    margin: 0 50px 25px 70px;
    order: 2;
  }
  section.footer li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 0;
    order: 1;
  }
  section.footer i {
    margin-bottom: 10px;
  }
  section.footer p {
    margin-bottom: 10px;
    padding-right: 10px;
  }
  section.footer .space {
    margin-right: 30px;
  }
}/*# sourceMappingURL=style.css.map */