section {
  margin: 20px;
  &.footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    margin: 0;

    .title-footer {
      font-size: 18px;
      color: white;
      font-family: "Shrikhand", serif;
      margin: 25px 0 0 25px;
      font-weight: 400;
    }

    i {
      height: 13px;
      width: 12px;

      &.fa-utensils {
        display: inline-block;
        transform: scaleX(0.9);
      }

      &.fa-handshake-angle {
        display: inline-block;
        transform: scaleX(0.6);
      }
    }

    ul {
      padding-left: 25px;
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      color: white;
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
      color: white;
      margin: 5px 0;
      padding: 0;
    }

    .space,
    .weight {
      font-weight: 500;
    }
  }
}

@media (min-width: 1024px) {
  section {
    &.footer {
      height: 114px;
      flex-direction: row;
      align-items: end;
      justify-content: flex-end;
      margin: 0;

      ul {
        display: flex;
        flex-direction: row;
        gap: 5px;
      }

      .title-footer {
        margin: 0 50px 25px 70px;
        order: 2;
      }

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        margin: 0;
        order: 1;
      }

      i {
        margin-bottom: 10px;
      }

      a {
        margin-bottom: 5px;
        padding-right: 5px;
      }

      .space {
        margin-right: 30px;
      }
    }
  }
}
