@use "variables";
@use "button";
@use "footer";

body {
  margin: 0;
  background-color: $main-bg-color;
  font-family: "Roboto", sans-serif;
}

/* Animation Loader */

.loader {
  position: fixed;
  inset: 0; /* Prend toutes la surface de la page */
  background-color: $main-bg-color;
  z-index: 1000;
  animation: loader-disappear 0.5s ease 2s forwards;
}

@keyframes loader-disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-text {
  display: flex;
  font-family: "Shrikhand", serif;
  font-size: 40px;
  background: linear-gradient(to top, $main-color, $secondary-color);
  background-clip: text;
  color: transparent;
  padding: 70px 10px;

  span {
    position: relative;
    animation: loader-wave 1.5s ease-in-out infinite;
  }

  .letter-2 {
    animation-delay: 0.1s;
  }

  .letter-3 {
    animation-delay: 0.2s;
  }

  .letter-4 {
    animation-delay: 0.3s;
  }

  .letter-5 {
    animation-delay: 0.4s;
  }

  .letter-6 {
    animation-delay: 0.5s;
  }

  .letter-7 {
    animation-delay: 0.6s;
  }

  .letter-8 {
    animation-delay: 0.7s;
  }
}

@keyframes loader-wave {
  0% {
    top: 0;
  }

  50% {
    top: -50px;
  }

  100% {
    top: 0;
  }
}

/* Fin d'animation Loader */

header {
  .logo {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    z-index: 1;
    padding: 5px 0 0 0;
  }

  img {
    width: 162px;
    padding: 15px 0;
    margin-top: 0;
  }
}

.location {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #353535;
  font-weight: 500;

  background-color: #eaeaea;
  height: 50px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

section {
  margin: 20px;

  &.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
    gap: 10px;

    p {
      font-weight: 300;
      margin: 5px 0 20px 0;
      font-size: 18px;
      width: 315px;
    }

    h1 {
      margin: 0;
      margin-top: 20px;
      font-size: 24px;
      width: 275px;
      font-weight: 700;
    }
  }

  &.fonctionnement {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    padding-bottom: 50px;

    .number {
      position: absolute;
      left: -12px;

      background-color: $main-color;
      color: white;

      width: 24px;
      height: 24px;
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    i {
      color: #7e7e7e;
    }

    i.fa-store {
      color: $main-color;
    }

    ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    li {
      position: relative;
      list-style: none;
      margin-left: 12px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 20px;
      background-color: $main-bg-color;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

      padding: 10px 50px 10px 30px;

      font-weight: 500;

      i {
        position: absolute;
        left: 30px;
        color: #7e7e7e;

        &.fa-mobile-screen-button {
          font-size: 19px;
        }
      }
    }
  }

  &.restaurant {
    h2 {
      padding-top: 40px;
    }

    article {
      position: relative;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto auto;
      width: 340px;
      height: 251px;
      border-radius: 15px;
      overflow: hidden;
      gap: 0px;
      margin-bottom: 10px;
      background-color: white;

      a {
        text-decoration: none;
        color: black;
      }

      .new {
        position: absolute;
        top: 10px;
        right: 10px;

        background-color: $new-bg-color;
        color: $new-text-color;
        padding: 7px 12px;
        font-weight: 500;
        border-radius: 2px;
      }

      img {
        grid-column: 1 / -1;
        width: 100%;
        height: 175px;
        object-fit: cover;
        object-position: center 61%;
      }

      h3 {
        grid-column: 1;
        padding: 0;
        padding-top: 10px;
        margin: 0 0 0 10px;
      }

      p {
        grid-column: 1;
        padding: 0;
        padding-bottom: 10px;
        margin: 0 0 0 10px;
      }

      i {
        grid-column: 2;
        grid-row: 2;
        margin-right: 10px;
      }

      .fa-heart {
        font-size: 24px;
        margin: 0;
      }

      .fa-solid.fa-heart {
        background: linear-gradient(to bottom, $main-color, $secondary-color);
        background-clip: text;
        color: transparent;
      }

      .heart-checkbox {
        display: none;
      }

      .heart-label {
        position: absolute;
        cursor: pointer;
        right: 20px;
        bottom: 25px;

        .fa-regular {
          opacity: 1;
          transition: opacity 0.3s ease;
        }

        .fa-solid {
          position: absolute;
          left: 0; /* aligne le coeur plein avec le coeur vide */
          opacity: 0; /* coeur plein invisible */
          transform: scale(0); /* taille 0 */
          transition:
            /* deviens visible en 0.3s */
            opacity 0.3s ease,
            transform 0.3s ease;
          /* grandit en 0.3s */
        }
      }

      .heart-checkbox:checked + .heart-label {
        .fa-regular {
          opacity: 0;
        }

        .fa-solid {
          opacity: 1; /* redeviens visible */
          transform: scale(1); /* reprend sa taille normal */
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  header {
    img {
      width: 200px;
      padding: 0;
      margin-top: 0;
    }

    .logo {
      padding: 30px 0 30px 0;
    }
  }

  .location {
    background-color: #eaeaea;
    height: 50px;

    box-shadow: none;
  }

  section {
    &.container {
      p {
        margin: 20px 0 20px 0;
        width: auto;
      }

      h1 {
        width: auto;
        font-size: 40px;
      }
    }

    &.fonctionnement {
      background-color: white;
      margin: auto;
      padding-bottom: 50px;
      display: flex;
      align-items: center;
      flex-direction: column;

      h2,
      ul {
        width: 100%;
        max-width: 1053px;
      }

      ul {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
      }

      li {
        width: 335px;
        padding: 10px 0;

        i {
          left: 40px;
        }
      }
    }

    &.restaurant {
      display: flex;
      align-items: center;
      flex-direction: column;

      h2,
      div {
        width: 100%;
        max-width: 1080px;
      }
    }

    .restaurant-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px 60px;

      article {
        width: 490px;
      }
    }
  }
}
