:root {
  --main-color: #9356dc;
  --secondary-color: #ff79da;
  --main-bg-color: #f6f6f6;
  --filter-bg-color: #deebff;
  --new-bg-color: #99e2d0;
  --new-text-color: #008766;
}

body {
  margin: 0;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 162px;
    padding: 0;
    margin-top: 0;
  }

  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #353535;
    font-weight: 500;
  }
}

.logo {
  background-color: white;
  padding: 15px 0;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.location {
  background-color: #eaeaea;
  height: 50px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

section {
  margin: 20px;

  &.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
    gap: 10px;

    p {
      font-weight: 300;
      margin: 5px 0 20px 0;
      font-size: 18px;
      width: 315px;
    }

    h1 {
      margin: 0;
      margin-top: 20px;
      font-size: 24px;
      width: 275px;
      font-weight: 700;
    }
  }

  &.fonctionnement {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    padding-bottom: 50px;

    i {
      color: #7e7e7e;
    }

    i.fa-store {
      color: var(--main-color);
    }

    ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    li {
      position: relative;
      list-style: none;
      margin-left: 12px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 20px;
      background-color: var(--main-bg-color);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

      padding: 10px 50px 10px 30px;
      gap: 30px;

      font-weight: 500;
    }
  }

  &.restaurant {
    h2 {
      padding-top: 40px;
    }

    article {
      position: relative;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto auto;
      width: 340px;
      height: 251px;
      border-radius: 15px;
      overflow: hidden;
      gap: 0px;
      margin-bottom: 10px;
      background-color: white;

      .new {
        position: absolute;
        top: 10px;
        right: 10px;

        background-color: var(--new-bg-color);
        color: var(--new-text-color);
        padding: 7px 12px;
        font-weight: 500;
        border-radius: 2px;
      }

      img {
        grid-column: 1 / -1;
        width: 100%;
        height: 175px;
        object-fit: cover;
        object-position: center 61%;
      }

      h3 {
        grid-column: 1;
        padding: 0;
        padding-top: 10px;
        margin: 0 0 0 10px;
      }

      p {
        grid-column: 1;
        padding: 0;
        padding-bottom: 10px;
        margin: 0 0 0 10px;
      }

      i {
        grid-column: 2;
        grid-row: 2;
        align-self: center;
        margin-right: 10px;
      }
    }
  }

  &.footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    margin: 0;
    margin-top: 70px;

    img {
      width: 139px;
      margin-left: 40px;
      padding: 40px 0 10px 0;
      filter: brightness(0) invert(1);
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      color: white;
      margin: 0;
    }

    p {
      margin: 5px 0;
    }
  }
}

.fa-heart {
  font-size: 24px;
  padding-right: 10px;
}

.fa-solid.fa-heart {
  background: linear-gradient(
    to bottom,
    var(--main-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.number {
  position: absolute;
  left: -12px;

  background-color: var(--main-color);
  color: white;

  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 25px;

  background: linear-gradient(
    to top,
    var(--main-color),
    var(--secondary-color)
  );

  color: #ffffff;
  font-size: 16px;
  font-weight: 500;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

  &.secondary {
    width: 186px;
  }

  &:hover {
    background:
      linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),
      linear-gradient(to top, var(--main-color), var(--secondary-color));
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
  }
}

@media (min-width: 1024px) {
  header {
    img {
      width: 200px;
      padding: 0;
      margin-top: 0;
    }
  }

  .location {
    background-color: #eaeaea;
    height: 50px;

    box-shadow: none;
  }

  .logo {
    background-color: white;
    padding: 30px 0;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  }

  section {
    &.container {
      p {
        margin: 20px 0 20px 0;
        width: auto;
      }

      h1 {
        width: auto;
        font-size: 40px;
      }
    }

    &.fonctionnement {
      background-color: white;
      padding: auto;
      margin: auto;
      padding-bottom: 50px;
      display: flex;
      align-items: center;
      flex-direction: column;

      h2,
      ul {
        width: 100%;
        max-width: 1053px;
      }

      ul {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
      }

      li {
        position: relative;
        list-style: none;
        width: 335px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 20px;
        background-color: var(--main-bg-color);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

        padding: 10px 70px 10px 35px;

        gap: 30px;

        font-weight: 500;
      }
    }

    &.restaurant {
      display: flex;
      align-items: center;
      flex-direction: column;

      h2,
      div {
        width: 100%;
        max-width: 1080px;
      }
    }

    .restaurant-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px 60px;

      article {
        width: 490px;
      }
    }

    &.footer {
      height: 114px;
      flex-direction: row;
      align-items: end;
      justify-content: flex-end;
      margin: 0;
      margin-top: 70px;

      ul {
        display: flex;
        flex-direction: row;
        gap: 5px;
      }

      img {
        width: 139px;
        margin: 30px 100px;
        padding: 0;
        filter: brightness(0) invert(1);
        order: 2;
      }

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        margin: 0;
        order: 1;
      }

      p {
        margin-bottom: 10px;
        padding-right: 10px;
      }

      .space {
        margin-right: 50px;
      }
    }
  }
}
