:root {
  --main-color: #9356dc;
  --secondary-color: #ff79da;
  --main-bg-color: #f6f6f6;
  --filter-bg-color: #deebff;
}

body {
  margin: 0;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .logo {
    background-color: white;
  }

  img {
    width: 162px;
    padding: 15px;
    margin-top: 5px;
  }

  div {
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #353535;
    font-weight: 500;

    box-shadow:
      0 4px 4px 0 rgba(0, 0, 0, 0.25),
      0 -4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

section {
  margin: 20px;

  &.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
  }

  &.container-secondary {
    background-color: white;
    padding: 20px;
    margin: 20px 0;

    i {
      color: #7e7e7e;
    }

    i.fa-store {
      color: var(--main-color);
    }
  }

  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  li {
    position: relative;
    list-style: none;
    margin-left: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    background-color: var(--main-bg-color);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

    padding: 10px 50px 10px 30px;
    gap: 20px;

    font-weight: 500;
  }
}

.number {
  position: absolute;
  left: -12px;

  background-color: var(--main-color);
  color: white;

  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 25px;

  background: linear-gradient(
    to top,
    var(--main-color),
    var(--secondary-color)
  );

  color: #ffffff;
  font-size: 16px;
  font-weight: 500;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

  &.secondary {
    width: 186px;
  }

  &:hover {
    background:
      linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),
      linear-gradient(to top, var(--main-color), var(--secondary-color));
  }
}
