:root {
  --main-color: #9356dc;
  --secondary-color: #ff79da;
  --main-bg-color: #f6f6f6;
  --filter-bg-color: #deebff;
}

body {
  margin: 0;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .logo {
  background-color: white;
  padding: 10px 0;
}
header img {
  width: 162px;
  padding: 15px;
  margin-top: 5px;
}
header div {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #353535;
  font-weight: 500;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 -4px 4px 0 rgba(0, 0, 0, 0.25);
}

section {
  margin: 20px;
}
section.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  gap: 10px;
}
section.container p {
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
}
section.container h1 {
  margin: 0;
  margin-top: 20px;
}
section.fonctionnement {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  padding-bottom: 50px;
}
section.fonctionnement i {
  color: #7e7e7e;
}
section.fonctionnement i.fa-store {
  color: var(--main-color);
}
section ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
section li {
  position: relative;
  list-style: none;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: var(--main-bg-color);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  padding: 10px 50px 10px 30px;
  gap: 30px;
  font-weight: 500;
}
section.restaurant h2 {
  padding-top: 40px;
}
section.restaurant article {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  width: 340px;
  height: 251px;
  border-radius: 15px;
  overflow: hidden;
  gap: 0px;
  margin-bottom: 10px;
  background-color: white;
}
section.restaurant article img {
  grid-column: 1/-1;
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 61%;
     object-position: center 61%;
}
section.restaurant article h3 {
  grid-column: 1;
  padding: 0;
  padding-top: 10px;
  margin: 0 0 0 10px;
}
section.restaurant article p {
  grid-column: 1;
  padding: 0;
  padding-bottom: 10px;
  margin: 0 0 0 10px;
}
section.restaurant article i {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  margin-right: 10px;
}

.fa-heart {
  font-size: 24px;
}

.fa-solid.fa-heart {
  background: linear-gradient(to bottom, var(--main-color), var(--secondary-color));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.number {
  position: absolute;
  left: -12px;
  background-color: var(--main-color);
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to top, var(--main-color), var(--secondary-color));
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
button.secondary {
  width: 186px;
}
button:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(to top, var(--main-color), var(--secondary-color));
}/*# sourceMappingURL=style.css.map */